// FONTS
$font-inter: 'Inter' , sans-serif;

// COLORS
$primary: #07719D;
$white: #FFFFFF;
$disabled: rgba(255, 255, 255, 0.249);
$mediumGrey: #8C8C8C;
$lightGrey: #D9D9D9;
$darkGrey: #454545;
$mediumGrey2: #595959;
$darkGrey2: #232323;



.globalStyles {
    font-family: $font-inter;
    margin: 0;
    padding: 0;
}

