@import '../../styles/main.scss';

.signin-form {
    width: 40rem;
    margin-top: 35%;
}
.inner-container {
    width: 28.3rem;
    margin: 0 auto;
    margin-top: 10%;
}
.titles-wrapper {
    text-align: center;
    width: 22rem;
    line-height: 1.5rem;
    margin: auto;
    margin-bottom: 7%;
}
.title {
    font-weight: 500;
    font-size: 1.5rem;
}
.desc {
    font-weight: 400;
    font-size: 1rem;
    color: $mediumGrey2;
}
.signin-btn {
    background-color: $primary;
    width: 29.7rem;
    font-weight: 600;
    font-size: 0.87rem;
    color: $white;
    border-radius: 0.5rem;
    border: none;
    padding: 3% 0;
    margin-top: 3%;
    cursor: pointer;
}