@import '../styles/main.scss';

.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.account {
    font-weight: 400;
    font-size: 0.87rem;
    color: $mediumGrey;
    text-align: center;
    margin: 3% 0;
}
.signIn,
.signUp {
    font-weight: 500;
    font-size: 0.87rem;
    color: $darkGrey; 
    cursor: pointer;
    
}