@import '../../styles/main.scss';

.sigup-form {
    width: 40rem;
    margin: 0 auto;
}
.inner-container {
    width: 28.3rem;
    margin: 0 auto;
    margin-top: 1%;
}
.titles-wrapper {
    text-align: center;
    width: 22rem;
    line-height: 1.5rem;
    margin: auto;
    margin-bottom: -5%;
}
.title {
    font-weight: 500;
    font-size: 1.5rem;
}
.desc {
    font-weight: 400;
    font-size: 1rem;
    color: $mediumGrey2;
}
.upload-btn-wrapper {
    display: flex;
    align-items: center;
    gap: 4%;
    margin-bottom: 3%;
}
.upload-btn {
    position: relative;
}
.upload-btn-icon {
    position: absolute;
    top: 53%;
    left: 60%;
    cursor: pointer;
}
.img-input-title {
    font-weight: 500;
    font-size: 0.87rem;
    margin-bottom: -1%;
}
.img-input-text {
    font-weight: 400;
    font-size: 0.75rem;
}
.input-field {
    display: flex;
    flex-direction: column;
}
.signup-btn {
    background-color: $primary;
    width: 29.7rem;
    font-size: 0.87rem;
    color: $white;
    border-radius: 0.5rem;
    border: none;
    padding: 3% 0;
    margin-top: 1%;
    cursor: pointer;
}
.country-wrapper,
.job-wrapper {
    display: flex;
    justify-content: space-between;
    width: 28.3rem;
    gap: 3%;
}
.country {
   width: 14.5rem;
}
.city {
    
}
.job {
    width: 13.2rem;
}

